<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ejemplo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
    <script src='../js/Ejemplo.js'></script>
</head>
<body>
    <h2>Full-width Table</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="namePerson" id="namePerson"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="Convertir nombre en mayúscula" onclick="Mostrar();">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" name="conversion" id="conversion" size="50%" readonly></td>
        </tr>
    </table>
</body>
</html>